<body>
    <article>
        <div *ngIf="movie !== undefined">
            <h2>{{ movie.name }}</h2>
            <img [src]="movie.imageUrl">
            <h3>About the movie</h3>
            <h4>Made: {{ movie.year }}</h4>
            <p>{{ movie.description }}</p>
            <h5>Price: {{ movie.price }} kr</h5>
        </div>

        <div *ngIf="movie === undefined">
            <p>not found</p>
        </div>

        <button class="btnCheckout" (click)="addToCheckout(movie)">Buy this</button><br />
        <a routerLink="/movies" routerLinkActive="active">Get back to Movies</a>
    </article>
</body>