<body>
    <article>
        <div *ngIf="movie !== undefined">
            <h2>{{ movie.name }}</h2>
            <img [src]="movie.imageUrl">
            <h3>Made: {{ movie.year }}</h3>
            <h4>{{ movie.description }}</h4>
            <h5>Price: {{ movie.price }} kr</h5>
        </div>

        <div *ngIf="movie === undefined">
            <p>not found</p>
        </div>

        <button (click)="addToCheckout(movie)">Buy this</button>
        <button><a routerLink="/movies" routerLinkActive="active">Get back to Movies</a></button>
    </article>
</body>