body {
  padding-bottom: 20px;
}

article {
  background-color: #dddcdc;
  margin-left: 180px;
  margin-bottom: 20px;
  padding-bottom: 100px;
  width: 70%;
}

.name {
  padding: 10px;
  padding-left: 20px;
  background-color: #ecbc53;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2rem;
}

.about {
  font-weight: bold;
  margin-left: 20%;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  border-bottom: 1px solid #d38c2f;
  width: 490px;
  padding: 5px;
}

.year {
  font-size: 0.8rem;
  margin-left: 10px;
  font-family: "Karla", sans-serif;
  margin-left: 20%;
}

p {
  margin-left: 10px;
  width: 500px;
  font-family: "Rubik", sans-serif;
  margin-left: 20%;
}

.price {
  margin-left: 10px;
  font-family: "Karla", sans-serif;
  margin-left: 20%;
  background-color: #db9225;
  padding: 5px;
  width: 100px;
  font-size: 0.8rem;
}

.btnCheckout,
.btnMovies {
  transition: all 0.5s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(105, 105, 105);
  border: 3px solid rgb(105, 105, 105);
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 0.8rem;
  padding: 5px;
  outline: none;
  border-radius: 4px;
  margin-left: 20%;
  margin-bottom: 20px;
}

.btnCheckout:hover,
.btnMovies:hover {
  color: #001f3f;
  background-color: #fff;
}

.btnCheckout:focus {
  background-color: #dddcdc;
  border: none;
}

img {
  width: 40%;
  height: 40%;
  margin-left: 28%;
}

.btnMovies {
  margin-left: 50%;
}
a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
  font-family: "Karla", sans-serif;
}
