<header>
    <img class="logo" src="assets/img/logo.jpg">
</header>
<nav>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/checkout" routerLinkActive="active">Checkout</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>

    <input type="search" (input)="getSearchResult()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"
        type="search" placeholder="search on movies">

    <button type="submit">Search</button>

    <li *ngFor="let result of moviesFromSearch">
        <a (click)="hide()" [routerLink]="['/movie', result.id]" routerLinkActive="active"><img class="searchImg"
                src="{{result.imageUrl}}"></a>

    </li>
</nav>