<header>
    <img class="logo" src="assets/img/logo.jpg">
</header>
<nav>
    <div class="wrapperLinks">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/movies" routerLinkActive="active">Movies</a>
        <a routerLink="/checkout" routerLinkActive="active">Checkout</a>
        <a routerLink="/admin" routerLinkActive="active">Admin</a>

        <div class="wrap">
            <div class="search">
                <input type="search" class="searchTerm" (input)="getSearchResult()" [(ngModel)]="searchValue"
                    [ngModelOptions]="{standalone: true}" type="search" placeholder="search on movies">

                <button type="submit" class="searchButton">Search</button>
            </div>
        </div>
    </div>
    <li *ngFor="let result of moviesFromSearch">
        <a (click)="hide()" [routerLink]="['/movie', result.id]" routerLinkActive="active"><img class="searchImg"
                src="{{result.imageUrl}}">
            <p class="searchName">{{result.name}}</p>
        </a>

    </li>
</nav>

<body></body>