h3 {
  font-size: 1rem;
  background-color: #ecbc53;
  padding: 5px 10px 5px 10px;
  font-size: 0.8rem;

  h3:hover {
    background-color: #dddcdc;
  }
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &:hover h3 {
    background-color: #dddcdc;
  }
}

h4 {
  margin-left: 10px;
  color: #858383;
  font-size: 0.7rem;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 180px;
  height: 270px;
  margin: 5px;
}
