h2 {
  font-size: 1rem;
  border-bottom: #d38c2f solid 1px;
  border-top: #d38c2f solid 1px;
  padding: 5px 10px 5px 0px;
  font-size: 0.8rem;
  font-family: "Rubik", sans-serif;

  h2:hover {
    background-color: #dddcdc;
  }
}

a {
  text-decoration: none;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &:hover h2 {
    background-color: #dddcdc;
  }
}

h3 {
  color: #858383;
  font-size: 0.6rem;
  font-family: "Karla", sans-serif;
}

h4 {
  color: #c07f07;
  font-size: 0.6rem;
  font-family: "Karla", sans-serif;
}

img {
  width: 180px;
  height: 270px;
  margin: 5px;
}
