body {
  padding-bottom: 20px;
}

article {
  background-color: #dddcdc;
  margin-left: 180px;
  margin-bottom: 20px;
  padding-bottom: 100px;
  width: 70%;
}

h2 {
  padding: 10px;
  padding-left: 20px;
  background-color: #ecbc53;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Rubik", sans-serif;
  background-color: #cacaca;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 0.8rem;
}

h5 {
  font-family: "Rubik", sans-serif;
}

div {
  width: 500px;
  margin-left: 100px;
  margin-top: 20px;
}

.btnRemoveOrder {
  transition: all 0.5s ease;
  color: rgb(255, 255, 255);
  background-color: rgb(105, 105, 105);
  border: 3px solid rgb(105, 105, 105);
  font-family: "Rubik", sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 0.8rem;
  padding: 5px;
  outline: none;
  border-radius: 4px;
}

.btnRemoveOrder:hover {
  color: #001f3f;
  background-color: #fff;
}
