<body>
    <article>
        <h2>Orders</h2>
        <div *ngFor="let order of orders.reverse()">
            <h3>Order ID: {{ order.id }}</h3>
            <h4>Created: {{ order.created }}</h4>
            <h4>Created by: {{ order.createdBy }}</h4>
            <h4>Payment method: {{ order.paymentMethod }}</h4>
            <h5>Total price: {{ order.totalPrice }} kr</h5>
            <button class="btnRemoveOrder" (click)="removeOrder(order.id)">Delete</button>
        </div>
    </article>
</body>