body {
  padding-bottom: 20px;
}

article {
  background-color: #fffdfd;
  margin-left: 180px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 70%;
}

img {
  width: 500px;
  height: 450px;
  margin-left: 20%;
}

a {
  font-family: "Karla", sans-serif;
  font-size: 0.7rem;
  color: #adabab;
  margin-left: 33%;
  text-decoration: none;
}
