body {
  padding-bottom: 20px;
}

article {
  background-color: #dddcdc;
  margin-left: 180px;
  margin-bottom: 20px;
  padding-bottom: 100px;
  width: 70%;
}

h1 {
  margin-left: 45%;
  font-size: 3.5rem;
  color: rgb(223, 9, 9);
  padding-top: 20px;
}

h2 {
  margin-left: 42%;
}
