header {
  background-color: black;
  height: 90px;
  margin-bottom: 0px;
}

nav {
  background-color: #da9605;
  height: 40px;
  padding-top: 5px;
}

img {
  width: 250px;
  height: 70px;
  padding: 10px;
}

a {
  padding-left: 250px;
  color: #fff;
  font-size: 1.5rem;
}

h1 {
  font-size: 1rem;
  color: #fff;
}
