body {
  background-color: #fff;
}

article {
  background-color: #dddcdc;
  margin-left: 12%;
  margin-bottom: 20px;
  padding-bottom: 100px;
  width: 900px;
}

h2 {
  padding: 10px;
  padding-left: 20px;
  background-color: #ecbc53;
  font-family: "Smooch Sans", sans-serif;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-left: 50px;
  margin-top: 20px;
}

.movies {
  width: 25%;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 20px;
}
