<body>
    <article>
        <h2 class="checkout">Checkout</h2>
        <div class="wrapper">
            <h2 class="cart">Your cart</h2>
            <div class="movies" *ngFor="let item of items">
                <h2 class="movieName">{{ item.movie.name }} </h2>
                <img [src]="item.movie.imageUrl">
                <h2 class="price">Price: {{ item.movie.price }} kr</h2>
                <button class="btnRemove" (click)="eraseMovie(item.movie)">Remove</button>
            </div>
            <h2 class="totalPrice" *ngIf="totalPrice">Total Price: {{ totalPrice }} Kr</h2>
        </div>

        <form [formGroup]="userForm" (ngSubmit)="orderDone()">
            <h2 class="details">Fill in your information</h2>
            <label for="firstname">First name:</label>
            <input type="text" formControlName="firstName" placeholder="First name"><br /><br />

            <label for="lastname">Last name:</label>
            <input type="text" formControlName="lastName" placeholder="Last name"><br /><br />

            <label for="email">Email:</label>
            <input type="email" formControlName="email" placeholder="Email"><br /><br />

            <label for="payment">Payment Method:</label>
            <select formControlName="payment">
                <option [value]="method" *ngFor="let method of paymentMethods">{{method}}</option>
            </select>

            <button class="btnOrder" type="submit" [disabled]="!userForm.valid">Order this</button>
        </form>

        <div class="wrapperP">
            <p *ngIf="totalPrice">Deliver to: {{userForm.value.email}}</p>
            <p *ngIf="totalPrice">Payment method: {{userForm.value.payment}}</p>
        </div>

    </article>

</body>