<body>
    <article>
        <h2>Checkout</h2>
        <form [formGroup]="userForm" (ngSubmit)="orderDone()">
            <h3>Details</h3>
            <label for="firstname">First name:</label>
            <input type="text" formControlName="firstName" placeholder="First name"><br /><br />

            <label for="lastname">Last name:</label>
            <input type="text" formControlName="lastName" placeholder="Last name"><br /><br />

            <label for="email">Email:</label>
            <input type="email" formControlName="email" placeholder="Email"><br /><br />

            <label for="payment">Payment Method:</label>
            <select formControlName="payment">
                <option [value]="method" *ngFor="let method of paymentMethods">{{method}}</option>
            </select>

            <button class="btnOrder" type="submit" [disabled]="!userForm.valid">Order this</button>
        </form>

        <h4>Your cart</h4>
        <div *ngFor="let item of items">
            <img [src]="item.movie.imageUrl"><br />
            <button class="btnRemove" (click)="eraseMovie(item.movie)">Remove</button>
            <h3>{{ item.movie.name }} </h3>
            <h4>Price: {{ item.movie.price }} kr</h4>
        </div>
        <h5 *ngIf="totalPrice">Total Price: {{ totalPrice }} Kr</h5>

        <br /><br />
        <h6 *ngIf="totalPrice">Deliver to: {{userForm.value.email}}</h6>
        <br />
        <h6 *ngIf="totalPrice">Payment method: {{userForm.value.payment}}</h6>

    </article>

</body>